<div class="page-header">
  <div class="page-title" [translate]="'test_case_types.title'"></div>
  <div class="short-hand-actions">
    <app-toggle-search-button
      class="mr-20"
      [class.visibility-hidden]="!testCaseTypes?.totalElements && !isFiltered"
      (searchAction)="fetchTestCaseTypes($event)"></app-toggle-search-button>
    <button
      [class.visibility-hidden]="newRow || (!testCaseTypes?.totalElements && !isFiltered)"
      (click)="addRow()"
      class="theme-btn-clear-default">
      + <span [translate]="'message.common.add_type'"></span></button>
  </div>
</div>
<div class="page-content pb-0">
  <app-placeholder-loader
    *ngIf="testCaseTypes.isFetching"></app-placeholder-loader>
  <cdk-virtual-scroll-viewport
    *ngIf="testCaseTypes?.totalElements || newRow"
    itemSize="59" class="list-container virtual-scroll-viewport theme-border-t">
    <a
      class="list-view green-highlight sm-pm lh-1point5 py-16 pointer align-items-center"
      *cdkVirtualFor='let testCaseType of testCaseTypes;let i = index' [ngSwitch]="testCaseType.isEdit">
      <div class="ts-col-100 d-flex" *ngSwitchCase="undefined">
        <div class="ts-col-90 d-flex text-truncate pl-7 rb-medium" [textContent]="testCaseType.name"></div>
        <div class="action-icons ts-col-10" *ngIf="!editMode">
          <i
            class="fa-pencil-on-paper action-icon" [matTooltip]="'btn.common.edit' | translate"
            (click)="editTestCaseType(i)"></i>
          <i
            class="fa-trash-thin action-icon" (click)="openDeleteDialog(testCaseType.id)"
            [matTooltip]="'btn.common.remove' | translate"></i>
        </div>
      </div>
      <div class="inline-form-container" *ngSwitchCase="true">
        <div class="inline-form-section">
          <input
            type="text" class="inline-form-control" autofocus
            #testCaseTypeNameField
            [formControl]="rowNameControl"
            (keyup.enter)="updateTestCaseType(testCaseType)"
            (blur)="testCaseType.isEdit=undefined;editMode=false"
            (keyup.escape)="testCaseType.isEdit=undefined;editMode=false"
            [value]="testCaseType.name">
          <span
            class="input-control"
            [translate]="'message.common.place_holder.enter_to_save'"></span>
        </div>
      </div>
    </a>
    <a class="list-view green-highlight sm-pm lh-1point5 py-16 pointer align-items-center" *ngIf="newRow">
      <div class="inline-form-container">
        <div class="inline-form-section">
          <input
            type="text" class="inline-form-control" autofocus
            #testCaseTypeNameField
            [formControl]="rowNameControl"
            (keyup.enter)="createTestCaseType()"
            (keyup.escape)="newRow=false"
            (blur)="newRow=false">
          <span class="input-control"
                [translate]="'message.common.place_holder.enter_to_save'"></span>
        </div>
      </div>
    </a>
    <div class="pointer text-link pt-16 pl-18" *ngIf="!newRow"
         (click)="addRow()">
      + <span [translate]="'message.common.add_type'"></span></div>
  </cdk-virtual-scroll-viewport>
  <div *ngIf="!testCaseTypes?.totalElements" class="h-100 mt-20">
    <div
      *ngIf="!testCaseTypes?.isFetching"
      class="empty-full-container">
      <div class="empty-run-md"></div>
      <div
        class="empty-text"
        [translate]="isFiltered ? 'message.common.search.not_found' : 'test_case_types.not_created'"></div>
      <button
        *ngIf="!isFiltered" [class.visibility-hidden]="newRow"
        (click)="addRow()" class="theme-btn-clear-default bg-white">
        + <span [translate]="'message.common.add_type'"></span></button>
    </div>
  </div>
</div>
