<div class="theme-overlay-container">
  <div class="theme-overlay-header h-40p">
  </div>
  <div class="theme-overlay-footer bg-light d-flex mb-10">
    <div class="ts-col-50 d-flex pointer" onclick="javascript:window.parent.fcWidget.open()">
      <div class="align-items-center d-flex fa-chat-square-dots fz-22 mr-10 text-purplish-blue"></div>
      <div class="d-flex ts-col-80 flex-wrap">
        <div class="ts-col-100 text-purplish-blue" [translate]="'message.common.chat_with_us'"></div>
        <div class="ts-col-100" [translate]="'trial_expiry_notification.to_extend_trial'"></div>
      </div>
    </div>
    <a class="ts-col-50 d-flex text-decoration-none" target="_blank" href="https://support.testsigma.com/support/home">
      <div class="align-items-center d-flex fa-headset fz-28 mr-10 text-purplish-blue"></div>
      <div class="d-flex ts-col-80 flex-wrap">
        <div class="ts-col-100 text-purplish-blue" [translate]="'support@testsigma.com'"></div>
        <div class="ts-col-100" [translate]="'trial_expiry_notification.to_extend_trial'"></div>
      </div>
    </a>
  </div>
</div>
