<div class="border-active-t-5 pb-35 pt-40 px-35">
  <div style="font-size: 16px;font-weight: 400;color: #3F454D;margin-bottom: 20px;">Thank you for trying <b>Testsigma</b> Open-source. In case you missed it…</div>
  <div style="width: 488px;height: 90px;font-size: 32px;line-height: 45px;color: #1E3145;margin-bottom: 20px;" class="rb-semi-bold">We’re an open-source, community-powered platform.</div>
  <div style="width: 488px;height: 56px;font-size: 20px;line-height: 28px;color: #3F454D;margin-bottom: 20px;" class="rb-regular">Help us reshape the future of software testing by starring the Testsigma repo on GitHub.</div>
  <div style="width: 488px;height: 280px;background: #DEE9F6;margin-bottom: 20px;">
    <div class="position-relative d-flex">
      <img src="http://res.cloudinary.com/dnjrorsut/image/upload/v1655194522/108967/c4nuzlmqix4gc69lqw6w.svg" class="ml-auto"/>
      <span style="width: 285px;height: 54px;left: 24px;top: 110px;font-size: 18px;line-height: 27px;color: #0E2D5C;" class="position-absolute">Connect, Create and Contribute. Join all the fun on <b>GitHub</b></span>
    </div>
  </div>
  <div class="d-flex">
    <a style="margin-left:24px;cursor:pointer;width: 125px;height: 26px;font-size: 18px;line-height: 25px;color: #606C80;" class="rb-regular ml-auto my-auto" (click)="skip()">Skip for now</a>
    <a href="https://github.com/testsigmahq/testsigma">
      <button style="cursor:pointer;box-sizing: border-box;display: flex;flex-direction: row;justify-content: center;align-items: center;padding: 24px;width: 237px;height: 71px;background: #1AA874;border: 1px solid #1AA874;border-radius: 6px;">
        <span class="starlogo"></span>
        <span style="width: 157px;height: 23px;margin-left:6px;line-height: 23px;text-align: center;color: #FFFFFF;font-size:16px;" class="rb-regular" (click)="star()">Star us on GitHub</span>
      </button>
    </a>
  </div>
</div>
<style>
  .starlogo{
    background-image: url("http://res.cloudinary.com/dnjrorsut/image/upload/v1655195915/108967/zb9hucdm2q9tvqeirolg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width:16px;
    height:16px;
  }
</style>
