<div class="d-flex flex-row position-relative h-100">
  <button (click)="loading?'':quit()"
          [disabled]="deleteClicked"
          [matTooltip]="(loading?'agents.mobile.inspection.quit_session_later':'agents.mobile.inspection.quit_session')| translate"
          class="btn btn-delete mobile-ins-close-recording d-flex mr-10">
    <span class="fz-14 pr-7" [translate]="'agents.mobile.inspection.quit_session'"></span> &times;
  </button>
  <div *ngIf="!fullScreenMode" class="ts-col-40 pr-14 mt-45 pt-14 pb-15">
    <div class="position-absolute top-n20 rb-medium px-25 fz-14 d-flex w-100 mt-n4">
      <span [translate]="'mobile_recorder.test_steps.title'" class="text-secondary text-nowrap"></span>
      <span class="ml-auto pl-14">
        <span class="btn mr-5 my-2 p-7 pluse pulse result-status-1 rounded-circle"
              (click)="pauseRecord=!pauseRecord"
              [matTooltip]="(pauseRecord?'mobile_recorder.hint.resume_recording':'mobile_recorder.hint.pause_recording')|translate">
          <i class="fa-play fz-5 mt-n3 position-absolute" *ngIf="pauseRecord" style="margin-left: -2.1px"></i>
          <i class="fa-stop fz-5 mt-n3 position-absolute" *ngIf="!pauseRecord" style="margin-left: -3.1px"></i>
        </span>
        <span [translate]="'agents.mobile.inspection.recording'" class="text-danger"></span>
      </span>
    </div>
    <div class="w-100 position-absolute z-in-2 pl-25 pr-20"><mat-divider></mat-divider></div>
    <ng-container *ngTemplateOutlet="stepRecorderTemplate"></ng-container>
  </div>
  <div *ngIf="!mirroring" [class.ts-col-40]="fullScreenMode"
       class="inspection-details-section ts-col-30 theme-border-l">
    <div class="flex-column w-100">
      <div class="ml-n12 theme-border-b h-50" #customDialogContainerH50
           [class.d-none]="!halfHeightDialogsOpen && !fullScreenMode || (fullScreenMode && !halfHeightDialogsOpen && !fullHeightDialogsOpen)"></div>
      <mat-tab-group [class.disabled]="loading"
                     [(selectedIndex)]="selectedIndex"
                     [class.h-50]="halfHeightDialogsOpen || fullScreenMode && customDialogContainerH50['clientHeight'] > 2"
                     [class.d-none-important]="fullHeightDialogsOpen && customDialogContainerH100['clientHeight'] > 2"
                     class="inspector-mat-tab w-100 border-0 mt-14 pr-15"
                     mat-stretch-tabs>
        <mat-tab *ngIf="fullScreenMode">
          <ng-template mat-tab-label>
            <span [translate]="'mobile_recorder.test_steps.title'"></span>
          </ng-template>
          <div class="w-100 position-absolute z-in-2"><mat-divider></mat-divider></div>
          <ng-container *ngTemplateOutlet="stepRecorderTemplate"></ng-container>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span [translate]="'agents.mobile.inspection.app_source'"></span>
          </ng-template>
          <app-source *ngIf="mirroringContainerComponent"
                      (highlightCanvas)="mirroringContainerComponent.highlightOnSelection($event)"
                      (highlightCanvasOnHover)="mirroringContainerComponent.mouseInFromAppSource($event)"
                      (mouseOutFromAppSource)="mirroringContainerComponent.mouseOutFromAppSource()"
                      [dataSource]="dataSource"
                      [inspectedElement]="mirroringContainerComponent.inspectedElement"
                      [isNativeAppEnabled]="mirroringContainerComponent.isNativeAppEnabled"
                      [loading]="loading">
          </app-source>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span [translate]="'agents.mobile.inspection.selected_element'"></span>
          </ng-template>
          <app-selected-elements *ngIf="mirroringContainerComponent"
                                 [currentPageSource]="currentPageSource"
                                 [inspectedElement]="mirroringContainerComponent.inspectedElement"
                                 [isNativeAppEnabled]="mirroringContainerComponent.isNativeAppEnabled"
                                 [sessionId]="sessionId"
                                 [devicesService]="devicesService"
                                 [isStepRecorder]="true"
                                 [optimisingXpath]="mirroringContainerComponent.optimisingXpath"
                                 (saveEnterStep)="saveEnterStep($event)"
                                 (saveClearStep)="saveClearStep($event)"
                                 (saveTapStep)="saveTapStep($event)">
          </app-selected-elements>
        </mat-tab>
      </mat-tab-group>
      <div class="mr-14 h-100" #customDialogContainerH100
           [class.d-none]="!fullHeightDialogsOpen || customDialogContainerH50['clientHeight'] > 2 || fullScreenMode"
      ></div>
    </div>
  </div>
  <div [class.ts-col-60]="fullScreenMode"
       class="mirroring-section ts-col-30 theme-border-l">
    <div class="ts-col-100 d-flex theme-border-b">
      <div [translate]="'agents.mobile.inspection.record_title'"
           class="p-15 fz-16 rb-medium lh-3"></div>
    </div>
    <app-mirroring-container #mirroringContainerComponent
                             [(dataSource)]="dataSource"
                             [(loading)]="loading"
                             [loadingActions]="loadingActions"
                             [currentPageSource]="currentPageSource"
                             [isIosNative]="isIosNative()"
                             [isEdit]="isEdit"
                             [uiId]="uiId"
                             [sessionId]="sessionId"
                             [data]="data"
                             [mirroring]="mirroring"
                             [selectedElement]="selectedElement1"
                             (saveChangeOrientationStep)="saveChangeOrientationStep($event)"
                             (saveTapStep)="saveTapStep($event)"
                             (saveTapOnDeviceStep)="saveDeviceTapStep($event)"
                             (saveNavigateBackStep)="saveNavigateBackStep()"
                             (saveEnterStep)="saveEnterStep($event)"
                             (saveClearStep)="saveClearStep($event)"
                             (updateRecordedElement)="updateRecordedElement()"
    ></app-mirroring-container>
  </div>
</div>
<!-- //TODO
<simple-notifications></simple-notifications>-->
<ng-template #stepRecorderTemplate>
  <div
    [class.showed]="canShowBulkActions && !canDrag"
    class="bulk-action-container mt-14 mr-2" [style.zIndex]="canShowBulkActions? 3 : -1">
    <button
      (click)="openBulkUpdate()"
      class="theme-btn-clear-default">
      <i class="fa-bulk-update pr-10 result-status-text-0"></i>
      <span class="dark-light-text" [translate]="'testcase.details.step_bulk_update'"></span>
    </button>
    <button
      *ngIf="(!canDrag && stepList?.testSteps?.content?.length > 1) || searchTerm"
      (click)="canDrag=true;isReorder=false;"
      [disabled]="searchTerm"
      class="theme-btn-clear-default ml-10" [translate]="'testcase.details.steps.re-oder'">
    </button>
    <button
      (click)="bulkDeleteConfirm()"
      [matTooltip]="'hint.message.common.delete' | translate"
      class="theme-btn-clear-default fa-trash-thin">
    </button>
  </div>
  <div *ngIf="canDrag" class="d-flex ml-25 mr-5 py-10 theme-border-b">
    <span *ngIf="canDrag" [translate]="'testcase.details.steps.re-oder'" class="fz-14 align-self-center"></span>
    <button
      (click)="cancelDragging()"
      class="theme-btn-clear-default ml-auto" [translate]="'btn.common.cancel'">
    </button>
    <button
      [disabled]="!draggedSteps || draggedSteps.length == 0"
      (click)="updateSorting()"
      class="theme-btn-primary" [translate]="'btn.common.update'">
    </button>
  </div>
  <app-test-case-action-steps #stepList
                           *ngIf="testCase && templates"
                           class="d-flex pt-10 h-100 ml-n25"
                           [stepRecorderView]="true"
                           [testCase]="testCase"
                           [searchTerm]="searchTerm"
                           [version]="version"
                           [templates]="templates"
                           [addonTemplates]="addonAction"
                           [selectedTemplate]="selectedTemplate"
                           [isDragEnabled]="canDrag"
                           [isCheckHelpPreference]="isCheckHelpPreference"
                           [isSearchEnabled]="inputValue"
                           (onStepSelection)="selectedSteps($event)"
                           (onStepDrag)="onPositionChange($event)"
                           (onSelectedStepType)="onStepType($event)"
                           [class.mr-n12]="canDrag && !fullScreenMode"
                           [class.h-100-50]="canDrag"
  ></app-test-case-action-steps>
</ng-template>
<!--
[ngStyle]="{'height': isRibbonShowed ? 'calc(100% - 38px)': '100%'}"-->
