// stylelint-disable declaration-no-important
// Common values
@each $position in $positions {
    .position-#{$position} {
        position: $position !important;
    }
}

// Shorthand
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
}

.absolute-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-fixed;
}

.sticky-top {
    @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: $zindex-sticky;
    }
}

.right-0{
	right: 0;
}
.left-0{
  left: 0;
}
.left-n5{
  left: -5px !important;
}
.bottom-20{
  bottom: 20px;
}
.right-10{
  right: 10px;
}

.bottom-0{
  bottom: 0;
}
.top-10{
	top:10px;
}
.top-5{
  top:5px;
}
.top-n5{
  top:-5px;
}

.top-n1{
  top:-1px !important;
}
.top-n4{
  top:-4px !important;
}
.top-65 {
  top: 65px;
}

.top-n20 {
  top:-20px;
}
.vertical-center{
  top:30%;
}
.left-neg-350p {
  left: -330px !important;
}
.top-40p{
  top:40%;
}
