@charset "UTF-8";
@import "_theme";
@import "~ngx-toastr/toastr";
@import "_theme_layout";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    @extend .fz-13;
   	color: $theme-text-color;
    overflow: hidden;
    height: 100%;
    @extend .default-font;
    letter-spacing: -0.2px;
    background-color: $white;
}

.default-font {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}
#beamerSelector{
  display: none!important;
}
.hide-stepper-header{
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  .mat-horizontal-content-container{
    @extend .px-0;
  }
}
app-test-case-priorities, app-test-case-types{
  .cdk-virtual-scroll-viewport{
    .cdk-virtual-scroll-content-wrapper{
      @extend .pb-40;
    }
  }
}
