@import "_functions";
@import "_variables";
@import "_vendor";
@import "_breakpoints";
@import "_text-truncate";
@import "_hover";
@import "_text-emphasis";
@import "_text";
@import "_buttons_minx";
@import "_grid";
@import "_grid-framework";
@import"_box-shadow";
@import "_transition";
@import"_border-radius";
@import "_borders";
@import "_spacing";
@import "_sizing";
@import "_shadows";
@import "_root";
@import "_nav-divider";
@import "_modal";
@import "_input-group";
@import "_font";
@import "_flex";
@import "_display";
@import "_buttons";
@import "_breadcrumb";
@import "_position";
@import "_form";
@import "_nav";
@import "_comments";
@import "_caret";
@import "_dropdown";
@import "_login";

.page_header {
  .mat-focused .mat-form-field-label {
    color: $theme-pass-color !important;
  }

  .mat-form-field-ripple {
    background-color: $theme-pass-color !important;
    height: 1px !important;
  }
}

/* Scroll bar styles */
@media (hover:hover) {
  :not(.scroll-none)::-webkit-scrollbar {
    scrollbar-width: auto;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 0;
    height: 5px;
    width: 5px
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent
  }

  :hover::-webkit-scrollbar {
    background-color: transparent;
  }

  :not(.scroll-none):hover::-webkit-scrollbar-thumb {
    background-color: $scroll-bar-color;
    background-clip: padding-box;
    border-radius: 4px;
    padding: 100px 0 0;
    -webkit-box-shadow: 0 0 1px $scroll-bar-color;
  }

  ::-webkit-scrollbar:hover {
    background-color: transparent
  }

  ::-webkit-scrollbar:active {
    background-color: transparent
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $scroll-bar-color
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: $scroll-bar-color
  }

  ::-webkit-scrollbar-corner {
    background: transparent
  }
  .scroll-none::-webkit-scrollbar {
    scrollbar-width: auto;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 0;
    height: 0;
    width: 0
  }
}
