<div class="page-header theme-border-b ml-40 pl-0 plugins-list ml-50">
<ul class="tab-nav" role="tablist">
  <li class="nav-items" role="presentation">
    <a
      class="normal-text"
      [routerLinkActive]="'active'"
      [routerLink]="['./analytics']">
      <span [translate]="'Dashboard'" ></span>
    </a>
  </li>
  <li class="nav-items" role="presentation">
    <a
      [routerLinkActive]="'active'"
      [routerLink]="['./custom_reports']"
      class="normal-text">
      <span [translate]="'Reports'"></span>
    </a>
  </li>
  <li class="nav-items" role="presentation">
    <a
      [routerLinkActive]="'active'"
      [routerLink]="['./query_engine']"
      class="normal-text">
      <span [translate]="'Query Reporting Engine'"></span>
    </a>
  </li>
</ul>
  <div class="page-content page-virtual-scroll pt-40 d-flex-wrap">
    <div class="x-sm-h ts-col-18 theme-border border-rds-5 p-40 d-flex mr-10">
      <div class="highChart" id="run-chart">
      <highcharts-chart
        [Highcharts] = "Highcharts"
        [options] = "flakyTestsChartOptions">
      </highcharts-chart>
      </div>
    </div>

    <div class="x-sm-h ts-col-18 theme-border border-rds-5 p-40 d-flex mr-10">
      <div class="highChart">
        <highcharts-chart
          [Highcharts] = "Highcharts"
          [options] = "runDurationTrendChartOptions">
        </highcharts-chart>
      </div>
    </div>

    <div class="x-sm-h ts-col-18 theme-border border-rds-5 p-40 d-flex mr-10">
      <div class="highChart">
        <highcharts-chart
          [Highcharts] = "Highcharts"
          [options] = "lingeredTestsChartOptions">
        </highcharts-chart>
      </div>
    </div>

    <div class="x-sm-h ts-col-18 theme-border border-rds-5 p-40 d-flex mr-10">
      <div class="highChart">
        <highcharts-chart
          [Highcharts] = "Highcharts"
          [options] = "topFailuresChartOptions">
        </highcharts-chart>
      </div>
    </div>

    <div class="x-sm-h ts-col-18 theme-border border-rds-5 p-40 d-flex mr-10">
      <div class="highChart">
        <highcharts-chart
          [Highcharts] = "Highcharts"
          [options] = "failuresByCategoryChartOptions">
        </highcharts-chart>
      </div>
    </div>
  </div>
</div>
