<div class="d-flex flex-wrap pl-75 pr-20 py-20 ts-col-100 overflow-y-auto theme-details-scroll">
  <div class="details-container md value-lg ts-col-90 pt-20">
    <div class="details-items ts-col-100">
      <label class="details-title" [translate]="'requirements.description'"></label>
      <div class="details-info">
        <div class="d-flex" [innerHTML]="requirement?.requirementDescription || '-'"></div>
      </div>
    </div>
    <app-list-attachments
      [attachmentRowId]="requirement?.id"
      [attachmentRow]="'REQUIREMENT'"
      class="ts-col-100 ml-n30"></app-list-attachments>
  </div>
</div>
