<div class="details-page-container">
  <div
    class="ts-col-100 d-flex-wrap"
    *ngIf="requirement">
    <div class="details-page-header">
      <app-td-overlay-menu-button
        [versionId]="requirement?.workspaceVersionId"></app-td-overlay-menu-button>
      <a class="go-back-icon pl-10"
         [matTooltip]="'hint.message.common.back' | translate"
         [routerLink]="['/td', requirement.workspaceVersionId , 'requirements']"></a>
      <div
           class="d-flex-wrap ts-col-100-77">
        <div class="ts-col-100 d-flex align-items-center">
            <div class="theme-details-header">
              <a
                class="title-name"
                [textContent]="requirement?.requirementName"></a>
            </div>
          <div class="details-page-buttons">
            <button
              class="btn icon-btn"
              [matTooltip]="'pagination.edit' | translate"
              [routerLink]="['/td', requirement.workspaceVersionId , 'requirements', requirementId, 'edit']">
              <i class="fa-pencil-on-paper"></i>
            </button>
            <button
              class="btn icon-btn" (click)="openDeleteDialog()"
              [matTooltip]="'pagination.delete' | translate">
              <i class="fa-trash-thin"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-auto ts-col-100-77">
      <div class="details-page-sub-details">
        <div class="details-page-sub-description">
          <div class="details-items">

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-placeholder-loader  class="ts-col-100" *ngIf="!isFetchingCompleted" [isDetails]="true"></app-placeholder-loader>
</div>
<div
  class="page-details-navigation-md">
  <ul class="tab-nav pl-8" role="tablist">
    <li class="nav-items" role="presentation">
      <a class="normal-text" [routerLink]="['details']" [routerLinkActive]="'active'">
        <i class="fa-list"></i>
        <span [translate]="'requirements.details.title'"></span>
      </a>
    </li>
    <li class="nav-items" role="presentation" >
      <a class="normal-text" [routerLink]="['cases']" [routerLinkActive]="'active'">
        <i class="fa-test-cases-alt"></i>
        <span [translate]="'td_nav.test_case'"></span>
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
