<div class="ts-col-100">
  <div class="form-page-header">
    <div class="create-form-content">
      <div class="form-title"
           [translate]="requirement?.id ? 'requirements.form.edit.title' : 'requirements.form.create.title'"></div>
      <div class="ml-auto">
        <button
          class="theme-btn-clear-default"
          [translate]="'btn.common.cancel'"
          [routerLink]="['/td', requirement?.workspaceVersionId , 'requirements']">
        </button>
        <button
          class="btn ml-14 theme-btn-primary"
          appAsyncBtn
          [isLoading]="saving"
          [message]="requirement?.id ? 'message.common.updating' : 'message.common.saving'"
          [textContent]="(requirement?.id ? 'btn.common.update': 'btn.common.create') | translate"
          (click)=" requirement?.id ? update() : create()">
        </button>
      </div>
    </div>
  </div>
  <div class=" form-field">
    <form *ngIf="requirementForm" class="ts-form ts-col-70 pr-20" [formGroup]="requirementForm">
      <div class="form-group">
        <input class="form-control" [formControlName]="['name']" [(ngModel)]="requirement.requirementName">
        <label class="control-label required" [translate]="'requirements.form.label.name'"></label>
        <div class="error" *ngIf="requirementForm.controls.name.errors?.required && formSubmitted"
             [translate]="'requirements.form.name.required'"></div>
        <div class="error" *ngIf="requirementForm.controls.name.errors?.maxlength && formSubmitted"
             [textContent]="'form.validation.common.max_length' | translate: {FieldName:'Name' , max:'126'}"></div>
      </div>
      <div class="form-group pb-20">
        <div class="description-label pb-10">
          <label [translate]="'message.common.description_optional'" class="custom-label"></label>
        </div>
        <app-description class="without-label" [formCtrlName]="requirementForm.controls.description"></app-description>
      </div>
    </form>
  </div>
</div>
