<div class="list-content overflow-x-hidden theme-details-scroll" style="padding: 30px 70px 20px;">
  <div
    class="h-100"
    *ngIf="testCases.totalElements">
    <div class="list-header">
      <div class="ts-col-40 pr-10 d-flex" [translate]="'message.common.text.title'">
      </div>
      <div
        class="ts-col-25"
        [translate]="'testcase.list.test_data'"></div>
      <div
        class="ts-col-10"
        [translate]="'message.common.text.result'"></div>
      <div
        class="ts-col-10"
        [translate]="'message.common.text.status'"></div>
    </div>
    <cdk-virtual-scroll-viewport
      itemSize="59"
      class="list-container virtual-scroll-viewport theme-w-o-h-scroll sm-h" >
      <a
        class="list-view green-highlight lg-pm pl-10 text-t-secondary"
        [routerLink]="['/td', 'cases',  testCase?.id]"
        *cdkVirtualFor='let testCase of testCases'>
        <div class="ts-col-40 d-flex">
          <div class="d-flex flex-wrap text-break">
            <span
              class="ts-col-100 pb-10 list-title"
              [textContent]="testCase.name"></span>
            <div
              [translate]="'message.common.automation'"></div>
          </div>
        </div>
        <div class="ts-col-25">
          <span [textContent]="testCase?.testData?.name || '-'"></span>
        </div>
        <div class="ts-col-10">
          <a [routerLink]="['/td', 'test_case_results', testCase?.lastRun?.id]" *ngIf="testCase?.lastRun">
            <app-result-pie-chart-column
              [width]="30"
              [height]="30"
              [resultEntity]="testCase?.lastRun"></app-result-pie-chart-column>
          </a>
        </div>
        <div class="ts-col-10"
          [textContent]="'testcase.status_'+testCase?.status| translate"></div>
      </a>
    </cdk-virtual-scroll-viewport>
  </div>
  <div>
    <app-placeholder-loader
      *ngIf="testCases.isFetching"></app-placeholder-loader>
    <div *ngIf="!testCases.totalElements && !testCases.isFetching" class="h-100">
      <div class="empty-full-container">
        <div class="empty-run-md"></div>
        <div [translate]="'requirements.message.no_associated_cases'" class="empty-text"></div>
      </div>
    </div>
  </div>
</div>
